<app-user-header></app-user-header>

<div class="profile">
  <img [src]="user.profileImage" alt="Profile Image" />
  <div>
    <h2>{{ user.name }}</h2>
  </div>
  <div>
    <p>{{ user.email }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="user_description">
    <p>{{ user.description }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="bicicletas">
    <div class="Reservadas">
      <h2>Bicicletas Reservadas:</h2>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Enduro Camp</mat-card-title>
            <mat-card-subtitle>Reservada</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/image 19.png" />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ longText }}
        </mat-card-content>
      </mat-card>
    </div>
    <div class="Favoritos">
      <h2>Bicicletas Favoritas:</h2>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Enduro Camp</mat-card-title>
            <mat-card-subtitle>Reservada</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/image 19.png" />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ longText }}
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>S-Works Enduro</mat-card-title>
            <mat-card-subtitle>No reservada</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/image 7.png" />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ longText2 }}
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>P. 3</mat-card-title>
            <mat-card-subtitle>No reservada</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/image 4.png" />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ longText3 }}
        </mat-card-content>
      </mat-card>
    </div>

    <mat-divider></mat-divider>
    <div class="FAQ">
      <h2>FAQ</h2>
      <button mat-raised-button color="accent">Go to link</button>
    </div>

    <mat-divider></mat-divider>
    <div class="Calendario">
      <h2>Calendario</h2>
      <img src="assets/images/image 12.png" width="215" height="178" />
    </div>

    <mat-divider></mat-divider>

    <div class="Ajustes">
      <div class="ajustes_titulo">
        <h2>Ajustes</h2>
        <img src="assets/images/image 13.png" width="30" height="23" />
      </div>
      <div class="ajustes_contenido">
        <div>
          <h3>Ajustes</h3>
          <img src="assets/images/image 14.png" />
        </div>

        <div>
          <h3>Tema</h3>
          <img src="assets/images/image 15.png" />
        </div>

        <div>
          <h3>Información</h3>
          <img src="assets/images/image 16.png" />
        </div>

        <div>
          <h3>Seguridad</h3>
          <img src="assets/images/image 17.png" />
        </div>

        <div>
          <h3>Anuncios</h3>
          <img src="assets/images/image 18.png" />
        </div>
      </div>
    </div>
  </div>
</div>
