.profile{
    padding-top:  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
p {
    font-size: 16px;
    color: gray;
}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;
}

.FAQ{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.Calendario{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ajustes_titulo{
    padding-top: 20px;
    display: flex;
    align-items: center;
    
}
h2{
    margin-top: 16px;
}

.ajustes_contenido div{
    display: flex;
    align-items: center;
}
.ajustes_contenido h3{
    margin-top: 16px;
}