<app-user-header></app-user-header>
<div class="container">
  <form (submit)="onSubmit()" #PaymentForm="ngForm">
    <div class="row">
      <h1 class="title">Métodos de pago</h1>
      <div class="col">
        <div class="inputBox">
          <span for="nombre">Nombre completo :</span>
          <input
            matInput
            type="text"
            id="nombre"
            placeholder="Example Name"
            required
            name="nombre"
          />
        </div>

        <div class="inputBox">
          <span for="card">Tarjetas que aceptamos :</span>
          <mat-radio-group aria-label="Select an option" [ngModelOptions]="{ standalone: true }" [(ngModel)]="PaymentData.cardType">
            <mat-radio-button value="Visa">Visa</mat-radio-button>
            <mat-radio-button value="Mastercard">Mastercard</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="inputBox">
          <span for="numero_tarjeta">Número de tarjeta :</span>
          <input
            matInput
            type="text"
            id="numero_tarjeta"
            placeholder="1111-2222-3333-4444"
            [ngModelOptions]="{ standalone: true }"
            required
            [(ngModel)]="PaymentData.cardNumber"
          />
        </div>
        <div class="inputBox">
          <span for="nombre_tarjeta">Nombre de su tarjeta :</span>
          <input
            matInput
            type="text"
            id="nombre_tarjeta"
            placeholder="Example card name"
            [ngModelOptions]="{ standalone: true }"
            required
            [(ngModel)]="PaymentData.cardHolder"
          />
        </div>
      </div>

      <div class="col">
        <div class="inputBox">
          <span for="email">Correo electrónico :</span>
          <input
            matInput
            type="email"
            id="correo"
            placeholder="example@example.com"
            required
          />
        </div>
        <div class="flex">
          <div class="inputBox">
            <span for="año_exp">Año de exp :</span>
            <input
              matInput
              type="text"
              id="año_exp"
              placeholder="2022"
              [ngModelOptions]="{ standalone: true }"
              required
              [(ngModel)]="year"
            />
          </div>
          <div class="inputBox">
            <span for="mes_exp">Mes de exp :</span>
            <input
              matInput
              type="text"
              id="mes_exp"
              placeholder="05"
              [ngModelOptions]="{ standalone: true }"
              required
              [(ngModel)]="month"
            />
          </div>
        </div>
        <div class="inputBox" style="margin-top: 0">
          <span for="cvv">CVV :</span>
          <input matInput type="text" id="cvv" placeholder="1234" [ngModelOptions]="{ standalone: true }" required [(ngModel)]="PaymentData.cardCvv" />
        </div>
      </div>
    </div>
    <button mat-button type="submit" class="submit-btn btn-primary">Añadir método</button>
  </form>
</div>
