<header class="pb-3 mb-5 border-bottom">
  <nav class="navbar navbar-expand-md fixed-top navbar-light d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/LogoLYW_2023-icon-removebg.png" alt="brand logo" width="50" />
    </a>
    <button class="navbar-toggler btn mx-4 btn-outline-dark nav-item" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse text-center">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home/#hero">Nosotros <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/#bicycle-types">Bicicletas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/#team">El Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/#contact">Contacto</a>
        </li>
      </ul>
      <div class="btn-end">
        <a class="btn nav-item btn-outline-primary mx-3" href="/login"> Iniciar Sesión </a>
        <a class="btn nav-item bg-dark text-light m-3" href="/signup"> Registrarse </a>
      </div>
    </div>
  </nav>
</header>
