<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button class="hamburger-button" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="logo-link">
      <img src="assets/logo.png" alt="Logo" class="logo-image" />
    </a>
    <span class="spacer"></span>
    <div class="links-container">
      <a routerLink="/page1" class="link">Page 1</a>
      <a routerLink="/page2" class="link">Page 2</a>
      <a routerLink="/page3" class="link">Page 3</a>
    </div>
    <span class="spacer"></span>
    <button mat-button class="login-button">Log In</button>
    <button mat-raised-button class="signup-button">Sign Up</button>
  </mat-toolbar>
</mat-toolbar>
