<app-user-header></app-user-header>

<div class="input-group search mx-auto mt-8 pb-3 mb-4">
  <input type="search" class="form-control rounded" placeholder="Ex. Bicicleta de montaña" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">Search</button>
</div>

<div>
  <app-card-bicyle></app-card-bicyle>
</div>

<div class="container">
  <mat-paginator [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page">
  </mat-paginator>
</div>