<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<app-user-header></app-user-header>

<div class="input-group search mx-auto pb-3 mb-4">
  <input type="search" class="form-control rounded" placeholder="Ex. Bicicleta de montaña" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-primary" (click)="search()">Search</button>
</div>

<div class="d-flex flex-column">
  <div class="center">
    <h2>Seleccione un rango de fechas:</h2>
  </div>
  <ngb-datepicker
    *ngIf="this.today"
    [minDate]="{ year: today.year, month: today.month, day: today.day + 1 }"
    [maxDate]="{ year: today.year + 1, month: today.month, day: today.day }"
    #dp
    (dateSelect)="onDateSelection($event)"
    class="calendar"
    [displayMonths]="2"
    [dayTemplate]="t"
    outsideDays="hidden"
  >
  </ngb-datepicker>

  <ng-template #t let-date let-focused="focused">
    <span
      class="custom-day"
      [class.focused]="focused"
      [class.range]="isRange(date)"
      [class.faded]="isHovered(date) || isInside(date)"
      (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null"
    >
      {{ date.day }}
    </span>
  </ng-template>
</div>

<div>
  <!--<app-card-bicyle></app-card-bicyle>-->
  <div class="row">
    <div class="col-md-3" *ngFor="let bicycle of bicycles">
      <app-card-bicyle [bicycle]="bicycle"></app-card-bicyle>
    </div>
  </div>
</div>

<div class="container">
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"> </mat-paginator>
</div>
