.container {
  margin-top: 40px;
}

.form-group label {
  font-weight: bold;
}

.btn-primary {
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

.btn-primary:hover {
  background-color: #ff4348;
  border-color: #ff4348;
}
