<section id="hero">
  <div class="col-md-10 py-5 px-3 mx-auto">
    <section id="hero" class="mb-5">
      <div class="container-fluid align-midle">
        <div class="row align-items-center">
          <div class="p-6 col-lg-5 mr-5 text-center">
            <div class="p-2">
              <p class="h1">Lead Your Way</p>
              <p class="text-left text-weight-light fs-4 my-5">
                Somos una compañía que ofrece una plataforma digital donde podrás encontrar bicicletas para todo tipo de usuarios. Por lo que, lo que
                necesitas es una bicicleta tanto para practicar deporte o necesitas otro tipo de movilidad, en esta página encontrarás todo lo
                necesario de forma rápida, sencilla y segura. Además, nunca tendrás que preocuparte por no encontrar la bicicleta adecuada, en este
                lugar podrás encontrar lo que necesites según tus necesidades.
              </p>
              <button class="btn btn-primary my-4" href="#">+ INFO</button
              ><button class="btn nav-item btn-outline-dark mx-4" href="#">Cómo usar</button>
            </div>
          </div>
          <div class="col p-6 align-self-center">
            <img class="img-fluid img-thumbnail" src="/assets/images/hero.jpg" alt="Bicycle" />
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
