<section id="team">
  <div class="container-fluid p-4">
    <p class="h3 text-weight-bold text-center text-dark">Meet Our Team</p>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-5 shadow rounded p-3 m-3">
        <div>
          <img class="rounded-circle img mx-auto d-block" src="assets/images/Lucas.jpg" alt="user" width="60" height="60" />
          <h3 class="text-center my-2">Lucas Ruiz</h3>
          <p class="text-center">CEO</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-5 shadow rounded p-3 m-3">
        <div>
          <img class="rounded-circle img mx-auto d-block" src="assets/images/Oliver.jpg" alt="user" width="60" height="60" />
          <h3 class="text-center">Oliver Tuesta</h3>
          <div class="align-items-center"></div>
          <p class="text-center">HR Manager</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-5 shadow rounded p-3 m-3">
        <div>
          <img class="rounded-circle img mx-auto d-block" src="assets/images/Sofia.jpg" alt="user" width="60" height="60" />
          <h3 class="text-center">Sofia Alfaro</h3>
          <div class="text-center">CTO</div>
        </div>
      </div>
      <div class="col-md-3 col-sm-5 shadow rounded p-3 m-3">
        <div>
          <img class="rounded-circle img mx-auto d-block" src="assets/images/Leonel.jpg" alt="user" width="60" height="60" />
          <h3 class="text-center">Leonel Ortega</h3>
          <div class="text-center">Ingeniero de Software Jr.</div>
        </div>
      </div>
      <div class="col-md-3 col-sm-5 shadow rounded p-3 m-3">
        <div>
          <img class="rounded-circle img mx-auto d-block" src="assets/images/Fabrizzio.jpg" alt="user" width="60" height="60" />
          <h3 class="text-center">Fabrizzio Castro</h3>
          <div class="text-center">CFO</div>
        </div>
      </div>
    </div>
  </div>
</section>
