.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* ajustar al alto deseado */
}

h1 {
  font-size: 3em; /* ajustar al tamaño deseado */
}

p {
  font-size: 1em; /* ajustar al tamaño deseado */
}
.back-button {
  background-color: #d78477;
}
