<app-user-header />
<div class="page">
  <h1>Agregar bicicleta</h1>
  <div class="formGroup">
    <mat-stepper #stepper>
      <mat-step>
        <form [formGroup]="firstFormGroup" class="margin">
          <ng-template matStepLabel>Completa información de tu bicicleta</ng-template>
          <div class="flex">
            <div class="flex h70">
              <mat-form-field appearance="fill">
                <mat-label>Ingrese el Titulo</mat-label>
                <input matInput placeholder="Giant Trance X 2" formControlName="title" required />
                <mat-icon matSuffix>title</mat-icon>
              </mat-form-field>
            </div>
            <div class="flex h70">
              <mat-form-field appearance="fill">
                <mat-label>Ingrese el Modelo</mat-label>
                <input matInput placeholder="BMX, DH, ENDURO" formControlName="model" required />
                <mat-icon matSuffix>title</mat-icon>
              </mat-form-field>
            </div>
            <div class="flex h70">
              <mat-form-field appearance="fill">
                <mat-label>Escoge la talla</mat-label>
                <mat-select required formControlName="size">
                  <mat-option value="small">Pequeña (S)</mat-option>
                  <mat-option value="medium">Mediana (M)</mat-option>
                  <mat-option value="large">Grande (L)</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="flex h70">
              <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Monto</mat-label>
                <input matInput type="number" placeholder="0" formControlName="price" required />
                <span matTextPrefix>S/&nbsp;</span>
                <span matTextSuffix>.00</span>
              </mat-form-field>
            </div>
            <div class="flex">
              <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput rows="4" placeholder="Ingrese una descripción" formControlName="description" required></textarea>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext class="btn-primary">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form [formGroup]="secondFormGroup" class="margin">
          <ng-template matStepLabel>Ingrese su dirección</ng-template>
          <div class="flex">
            <div class="flex">
              <mat-form-field appearance="fill">
                <mat-label>Ingrese la dirección</mat-label>
                <input matInput placeholder="Av. Javier Prado 123" formControlName="address" required />
                <mat-icon matSuffix>location_on</mat-icon>
              </mat-form-field>
            </div>
            <div class="flex">
              <mat-form-field appearance="fill">
                <mat-label>Ingrese el distrito</mat-label>
                <input matInput placeholder="San Isidro" formControlName="city" required />
                <mat-icon matSuffix>location_city</mat-icon>
              </mat-form-field>
            </div>
            <div class="flex">
              <mat-form-field appearance="fill">
                <mat-label>Ingrese la provincia</mat-label>
                <input matInput placeholder="Lima" formControlName="state" required />
                <mat-icon matSuffix>location_city</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious class="btn-primary">Atrás</button>
            <button mat-button matStepperNext class="btn-primary margin-left">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Sube fotos de tu bicicleta</ng-template>
        <form [formGroup]="thirdFormGroup">
          <div class="form-group mb-4">
            <label for="userImage" style="margin-bottom: 1%; margin-top: 2%">Imagen de Bicicleta URL</label>
            <input formControlName="image" class="form-control" type="text" matInput placeholder="Link de la Imagen" name="userImage" />
          </div>
          <div>
            <button mat-button matStepperPrevious class="btn-primary">Atrás</button>
            <button mat-button matStepperNext class="btn-primary margin-left">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Listo!</ng-template>
        <p>Ya terminsate?</p>
        <div>
          <button mat-button matStepperPrevious class="btn-primary">Atrás</button>
          <button mat-button (click)="stepper.reset(); onSubmit()" class="btn-primary margin-left">Crear</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
