@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .column {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button-link {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #d78477;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
  }
  