<body style="background-color: #fee8e7">
  <div class="container h-100 d-flex justify-content-center alignt-items-center">
    <div class="my-auto">
      <p class="h1">Actualizar clave</p>
      <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
        <div class="form-group mb-3">
          <label for="email">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="email"
            #emailInput="ngModel"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            aria-describedby="emailHelp"
            placeholder="Ingrese su correo"
            required
            [class.is-invalid]="emailInput.dirty && emailInput.invalid"
          />
          <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo electrónico con nadie.</small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Enviar Correo</button>
      </form>
    </div>
  </div>
</body>
