form {
  max-width: 420px;
  margin: 0 auto;
  width: 800px;
}

button {
  margin-top: 10px;
}

.my-auto {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 500px;
}

.h1 {
  text-align: center;
}

.len_name {
  font-size: 12px;
  margin-left: 380px;
}
