<body style="background-color: #fee8e7">
  <div class="container h-100 d-flex justify-content-center alignt-items-center">
    <div class="my-auto">
      <p class="h1">Crear una cuenta</p>
      <form>
        <div class="form-group">
          <label for="nombre" style="margin-bottom: 1%">Nombre y Apellido</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            matInput
            #message
            maxlength="50"
            placeholder="Ingresa tu nombre completo"
            name="name"
            required
            matInput
            [formControl]="nombreControl"
            [class.is-invalid]="nombreControl.dirty && nombreControl.invalid"
          />
          <mat-hint class="len_name" align="end">{{ message.value.length }} / 50</mat-hint>
          <mat-error *ngIf="nombreControl.hasError('pattern') && !nombreControl.hasError('required')"> Please enter a valid name </mat-error>
          <mat-error *ngIf="!firstTry"> Name is <strong>required</strong> </mat-error>
        </div>

        <div class="form-group">
          <label for="email" style="margin-bottom: 1%; margin-top: 2%">Correo electrónico</label>
          <input
            type="email"
            required
            matInput
            [formControl]="emailFormControl"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Ingresa tu correo electrónico"
            [class.is-invalid]="emailFormControl.dirty && emailFormControl.invalid"
          />
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="!firstTry"> Email is <strong>required</strong> </mat-error>
        </div>

        <div class="form-group">
          <label for="contraseña" style="margin-bottom: 1%; margin-top: 1%">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="contraseña"
            placeholder="Ingresa tu contraseña"
            required
            matInput
            [formControl]="passwordControl"
            [class.is-invalid]="passwordControl.dirty && passwordControl.invalid"
          />
          <mat-error *ngIf="!firstTry"> Password is <strong>required</strong> </mat-error>
        </div>

        <div class="form-group">
          <label for="confirmarContraseña" style="margin-bottom: 1%; margin-top: 2%">Confirmar contraseña</label>
          <input
            type="password"
            class="form-control"
            id="confirmarContraseña"
            placeholder="Ingresa nuevamente tu contraseña"
            required
            matInput
            [formControl]="confirmpasswordControl"
          />
        </div>

        <mat-error *ngIf="!validatePassword()"> Confirma ambas contraseñas </mat-error>

        <div *ngIf="validatePassword()">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Empezar</button>
        </div>
        <mat-error *ngIf="this.control == false"> Completa correctamente la información </mat-error>
      </form>
    </div>
  </div>
</body>
