<div class="container h-100 d-flex justify-content-center alignt-items-center">
  <div class="my-auto">
    <p class="h1">Crear una cuenta</p>
    <form>
      <div class="form-group">
        <label for="nombre">Nombre completo</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre completo" />
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa tu correo electrónico" />
        <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo con nadie más.</small>
      </div>
      <div class="form-group">
        <label for="contraseña">Contraseña</label>
        <input type="password" class="form-control" id="contraseña" placeholder="Ingresa tu contraseña" />
      </div>
      <div class="form-group">
        <label for="confirmarContraseña">Confirmar contraseña</label>
        <input type="password" class="form-control" id="confirmarContraseña" placeholder="Confirma tu contraseña" />
      </div>
      <button type="submit" class="btn btn-primary">Empezar</button>
    </form>
  </div>
</div>
