<body style="background-color: #fee8e7;">
<div class="container h-100 d-flex justify-content-center alignt-items-center">
  <div class="my-auto">
    <p class="h1">Crear una cuenta</p>
    <form>
      <div class="form-group">
        <label for="nombre" style="margin-bottom: 1%;">Nombre completo</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre completo" />
      </div>
      <div class="form-group">
        <label for="email" style="margin-bottom: 1%; margin-top: 2%;">Correo electrónico</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa tu correo electrónico" />
        <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo con nadie más.</small>
      </div>
      <div class="form-group">
        <label for="contraseña" style="margin-bottom: 1%; margin-top: 1%;">Contraseña</label>
        <input type="password" class="form-control" id="contraseña" placeholder="Ingresa tu contraseña" />
      </div>
      <div class="form-group">
        <label for="confirmarContraseña" style="margin-bottom: 1%; margin-top: 2%;">Confirmar contraseña</label>
        <input type="password" class="form-control" id="confirmarContraseña" placeholder="Ingresa nuevamente tu contraseña" />
      </div>
      <button type="submit" class="btn">Empezar</button>
    </form>
  </div>
</div>
</body>
