/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.btn-primary {
  background-color: #d78477 !important;
  border-color: #d78477 !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: #e16f58 !important;
  border-color: #e16f58 !important;
}

.orange {
  color: #e16f58 !important;
  background-color: #e16f58 !important;
}
