<div *ngIf="bicycle">
  <div class="container-md">
    <div class="card m-3 p-3">
      <h1 class="card-title text-center fw-bold">{{ bicycle.model }}</h1>
      <img [src]="bicycle.image" class="card-img-top" alt="{{ bicycle.description }}" />
      <div class="card-body">
        <p class="card-text">{{ bicycle.description }}</p>
        <div class="rating">
          <span class="rating-value">{{ bicycle.averageRating.toFixed(1) }} / 5</span>
          <div class="stars">
            <span class="fa fa-star{{ bicycle.averageRating >= 1 ? ' checked' : '' }}"></span>
            <span class="fa fa-star{{ bicycle.averageRating >= 2 ? ' checked' : '' }}"></span>
            <span class="fa fa-star{{ bicycle.averageRating >= 3 ? ' checked' : '' }}"></span>
            <span class="fa fa-star{{ bicycle.averageRating >= 4 ? ' checked' : '' }}"></span>
            <span class="fa fa-star{{ bicycle.averageRating >= 5 ? ' checked' : '' }}"></span>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Precio por hora: {{ bicycle.pricePerHour }} €</li>
          <li class="list-group-item">Disponible: {{ bicycle.available ? 'Sí' : 'No' }}</li>
        </ul>
        <hr />
        <form action="" class="d-flex flex-column">
          <h2>Seleccione un rango de fechas:</h2>
          <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" class="calendar" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
          </ngb-datepicker>

          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
          <a class="btn btn-primary mt-3" [ngClass]="{ disabled: !bicycle.available }" [routerLink]="['/product-purchase']">Proceder con el pago</a>
        </form>
      </div>
    </div>
  </div>
</div>
